{% extends 'base.html.twig' %}

{% block title %}PPG | Home{% endblock %}
{% block javascripts %}
    {% block importmap %}{{ importmap(['app', 'player']) }}{% endblock %}
{% endblock %}
{% block body %}
    <div class="container-fluid Live">
        <h3>Live</h3>
        <div class="row">
            <div id="recipeCarousel" class="carousel slide" >
                <div class="carousel-inner" role="listbox">
                    {% for live in lives %}
                        <div class="carousel-item live {% if loop.first %}active{% endif %}">
                            <div class="col-md-3">
                                <a href="/video/{{ live.id }}">
                                    <div class="card text-bg-dark">
                                        <img src="{{ live.thumbnail }}" class="card-img" alt="...">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">{{ live.name }} | {{ live.gameName }}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener('load', function() {
            let live = document.querySelectorAll('.carousel .carousel-item.live');

            console.log(live)

                live.forEach((el) => {
                    const minPerSlide = 5;
                    let next = el.nextElementSibling;
                    for (let i = 1; i < live.length; i++) {
                        if (!next) {
                            // wrap carousel by using first child
                            next = live[0];
                        }
                        let cloneChild = next.cloneNode(true);
                        el.appendChild(cloneChild.children[0]);
                        next = next.nextElementSibling;
                    }
                });

            if (live.length <= 5) {
                document.querySelector('.carousel-control-prev').style.display = 'none';
                document.querySelector('.carousel-control-next').style.display = 'none';
            }
        });
    </script>
    {% for category in categories %}
    <div class="container-fluid Live">
        <h3>{{ category.name }}</h3>
        <div class="row">
            <div id="recipeCarouselc-{{ category.id }}" class="carousel slide" >
                <div class="carousel-inner" role="listbox">
                    {% for video in category.video %}
                        <div class="carousel-item c-{{ category.id }} {% if loop.first %}active{% endif %}">
                            <div class="col-md-3">
                                <a href="/video/{{ video.id }}">
                                    <div class="card text-bg-dark">
                                        <img src="{{ video.thumbnail }}" class="card-img" alt="...">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">{{ video.channelTitle }}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev c-{{ category.id }} bg-transparent w-aut" href="#recipeCarouselc-{{ category.id }}" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next c-{{ category.id }} bg-transparent w-aut" href="#recipeCarouselc-{{ category.id }}" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener('load', function() {
            let items = document.querySelectorAll('.carousel .carousel-item.c-{{ category.id }}');

            console.log(items)

            items.forEach((el) => {
                const minPerSlide = 5;
                let next = el.nextElementSibling;
                for (let i = 1; i < items.length; i++) {
                    if (!next) {
                        // wrap carousel by using first child
                        next = items[0];
                    }
                    let cloneChild = next.cloneNode(true);
                    el.appendChild(cloneChild.children[0]);
                    next = next.nextElementSibling;
                }
            });

            if (items.length <= 5) {
                document.querySelector('.carousel-control-prev.c-{{ category.id }}').style.display = 'none';
                document.querySelector('.carousel-control-next.c-{{ category.id }}').style.display = 'none';
            }
        });
    </script>
    {% endfor %}
{% endblock %}
