{% extends 'base.html.twig' %}
{% block title %}PPG | Manage Category{% endblock %}
{% block body %}
    <section class="admincategory">
   {{ form_start(form) }}
    <div class="container categoryForm">
        <div class="mb-3 col-6">
            {{ form_label(form.name, 'Nouvelle Category', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'name'}}) }}
            {{ form_label(form.imageFile, 'Upload Image', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control', 'id': 'category_imageFile', 'required': 'required'}}) }}
        </div>
        <div class="mb-4 col-7">
            <button class="btn btn-primary category" type="submit">Add Category</button>
        </div>
    </div>
{{ form_end(form) }}
    <div class="container text-center userList">
        <div class="row row-cols-auto category">
            {% for category in categories %}
                <div class="card" style="width:18rem;">
                    <img src="{{ vich_uploader_asset(category) }}" alt="{{ category.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a class="btn btn-primary btn-sm category" href="/admin/category/edit/{{ category.id }}">Editer</a>
                        <a class="btn btn-primary btn-sm category" href="/admin/category/{{ category.id }}">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}