{% extends 'base.html.twig' %}

{% block title %}PPG | Show Videos{% endblock %}

{% block body %}
        <div class="container admin-show-video">
            {% for video in videos %}
            <div class="card text-bg-dark admin">
                <img src="{{ video.thumbnail }}" class="card-img" alt="...">
                <div class="card-img-overlay title">
                    <h5>{{ video.title }}</h5>
                </div>
                <ul class="list-group list-group-flush admin">
                    <li class="list-group-item title">{{ video.title }}</li>
                    {% if video.game.name is defined %}
                        <li class="list-group-item">
                            <span class="badge rounded-pill">{{ video.game.name is defined ? video.game.name : 'none' }}</span>
                            {% for genre in video.game.genres %}
                                <span class="badge rounded-pill">{{ genre.name }}</span>
                            {% endfor %}
                        </li>
                    {% endif %}
                        <li class="list-group-item button">
                            <a class="btn btn-primary" href="/admin/video/edit/{{ video.id }}" role="button">edit</a>
                            <a class="btn btn-primary" href="/admin/video/delete/{{ video.id }}" role="button" onclick="return confirmDelete()">delete</a>
                        </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    <script type="text/javascript">
        function confirmDelete() {
            return confirm('Are you sure to delete this game ?');
        }
    </script>
{% endblock %}
