{% extends "base.html.twig" %} 

{% block body %} 
<h1>Liste des Utilisateurs</h1>
        <ul>
            {% for user in users %}
                <li>
                    {{ user.firstName }} {{ user.lastName }} {{user.pseudo}}- {{ user.email }}
                    <th><a class="btn btn-primary" href="/admin/users/delete/{{ user.id }}" role="button" onclick="return confirmDelete()" >delete</a></th>
                </li>
            {% else %}
                <li>Aucun utilisateur trouvé</li>
            {% endfor %}
        </ul> 
{% endblock %}