<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}{% endblock %}
        </title>

        {% block javascripts %}
            {% block importmap %}
            {{ importmap('app') }}
            {% endblock %}
            <script>
            function closeFlashMessage(index) {
                const flashMessage = document.getElementById('flash-message-' + index);
                if (flashMessage) {
                    flashMessage.style.display = 'none';
                }
            }
        </script>
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'include/_nav-bar.html.twig' %}
        <div class="container">
            {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" id="flash-message-{{ loop.index }}">
                            {{ message }}
                            <div>
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeFlashMessage({{ loop.index }})"></button>
                            </div>
                        </div>
                    {% endfor %}
            {% endfor %}
        </div>
        {% block body %}
        {% endblock %}
        {% include 'include/_footer.html.twig' %}
    </body>
</html>
