{% extends 'base.html.twig' %}
{% block title %}PPG - Modification de l'utilisateur{% endblock %}

{% block body %}
    <section class="formedituser">
        <div class="container">
            <h2>Formulaire de modification des informations de l'utilisateur</h2>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" id="flash-message-{{ loop.index }}">
                        {{ message }}
                        <button type="button" class="btn-close" aria-label="Close" onclick="closeFlashMessage({{ loop.index }})"></button>
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form) }}
                <div class="leftblock">
                    {{ form_row(form.pseudo) }}
                    {{ form_row(form.urlAvatar) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                </div>
                <div class="rightblock">
                    <div class="localisationcontainer">
                        {{ form_row(form.adressStreet) }}
                        {{ form_row(form.adressZipCode) }}
                        {{ form_row(form.adressCity) }}
                        {{ form_row(form.adressCountry) }}
                    </div>
                    <div class="subscriptioncard">
                        {{ form_row(form.subscriptionMessage) }}
                        {% if form.subscriptionDate is defined %}
                            {{ form_row(form.subscriptionDate) }}
                         {% else %}
                            <a href="" class="btn btn-primary">S'abonner</a>
                        {% endif %}
                    </div>
                </div>
            {{ form_end(form) }}
            <button type="submit" class="btn btn-primary" form="formuser">Valider les informations</button>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function closeFlashMessage(index) {
            var flashMessage = document.getElementById('flash-message-' + index);
            if (flashMessage) {
                flashMessage.style.display = 'none';
            }
        }
    </script>
{% endblock %}